* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --app-success-color: rgb(36, 128, 36);
  --app-white-color: whitesmoke;
  --app-btn-bg: rgb(51, 50, 50);
  --app-danger-color: #a41f1f;
}

body {
  font-size: 20px;
  font-family: "Roboto", serif;
  padding: 1rem;
}

main {
  width: 27%;
  background-color: rgb(157, 124, 130);
  padding: 1rem;
  text-align: center;
}


h1 {
  color: var(--app-success-color);
  font-family: 'Chakra Petch', sans-serif;
  margin: 1rem 0
}

label {
  font-family: 'Chakra Petch', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--app-danger-color);  
}

button,
input, select {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: var(--app-btn-bg);
  width: 100px;
  color: var(--app-white-color);
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

select {
  font-size: 0.8em;
}

button:hover, input:hover, select:hover {
  color:var(--app-success-color)
}

button:disabled {
  opacity: .2;
}

/* КЛАССЫ *******************************************/

/* .fail {
  color: var(--app-danger-color);
} */

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  align-items: center;
}

.controls__color {
  height: 42px;
}

.field {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-left: auto;
  gap: 2px;  
}

.field__cell {
  width: 100%;
  height: 35px;
  border: 1px solid var(--app-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px
}

.transparent {
  visibility: hidden;
}

.field__cell.active {
  background: var(--app-danger-color);
}
